/* GENERAL */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* HEADER SECTION */

header {
  height: 508px;
  background-color: red;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 100px;
  border: 1px solid #707070;
}

.icon-container {
  display: flex;
  margin-left: auto;
}

.icon {
  width: 19px;
  height: 19px;
  margin: 0;
}

.icon-border {
  width: 39px;
  height: 39px;
  margin: 3px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text-container {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}

.text-name {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  letter-spacing: 0.52px;
}

.bold {
  font-weight: 500;
  padding-right: 30px;
}

h1, h2 {
  font-size: 40px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}

h2 {
  font-size: 20px;
}

.profile-picture {
  width: 162px;
  height: 162px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin-left: auto;
}

/* PORTFOLIO GENERAL */

.portfolio-section {
  background: #FFFFFF;
  padding: 58px 36.5px;
}

.grey {
  background-color: #F4F4F4;
}

h3 {
  margin: auto;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  color: #FFFFFF;
  background: red;
  padding: 3px 6px;
  text-align: center;
}

p {
  margin: 0;
  line-height: 1.6;
}

/* SUMMARY SECTION */

.summary-red-line {
  width: 45px;
  height: 3px;
  background: red;
  display: inline-block;
  margin-bottom: 4px;
}

.summary-red-dot {
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

.text-tech {
  text-align: center;
}


footer {
  height: 270px;
  padding: 60px;
  background-color: #072BCE;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.footer-headline {
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
}